.page {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 150px auto;
}

.top-section {
  grid-column: 1 / -1;
  background-color: aquamarine;
  height: 150px;
  width: 99%;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  text-align: center;
  border: solid black 2px;
}
.center-boxes {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center-box1 {
  width: 400px;
  height: 300px;
  background-color: white;
  margin-left:200px;
  margin-top: -180px;
  border-radius: 20px;
  border: #E64A19 solid 2px;

}
.center-box2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px; 
  justify-items: center; 
  align-items: center;
  width: 500px;
  height: 550px;
  background-color: lightcoral;
  border-radius: 20px;
  margin: 50px auto; 
  padding: 20px; 
  margin-top: -100px;
  margin-left: 380px;
  border: slategray solid 5px;

}

.center-box2 label{
  margin-bottom: 5px;
  width: 100%;
  
}
.center-box2 input{
  margin-bottom: 10px;
  width: 100%;
  height: 10px;

}
.center-box2 input[type="text"] {
  width: 100%; 
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}

.center-box2 button {
  width: 100px;
  height: 30px;
  background-color: aqua;
  cursor: pointer;
  
}
.center_box2 button:hover{
  background-color: #E64A19;

}

  
  



.left-section {
  background-color: lightblue;
  width: 70%;
  height: 800px;
  border-radius: 10px;
  margin-bottom: 100px;
  border: solid black 2px;
}



.top-section button {
  width: 150px;
  height: 50px;
  margin: 10px;
  background-color: blueviolet;
  font-size: larger;
  cursor: pointer;
}

.top-section button:hover {
  background-color: #E64A19;
}

.left-section ul {
  list-style-type: none;
  padding:10px;
}

.left-section li {
  margin-bottom: 10px;
  cursor: pointer;
}

.left-section a {
  text-decoration: none;
  color: red;
  font-size: x-large;
}
.left-section a:hover {
  background-color:wheat;
}

.company-name {
  font-size: 24px; /* Adjust the font size */
  font-weight: bold;
  white-space: nowrap; /* Prevent line breaks */
  animation: scrollText 20s linear infinite;
  text-align: center;
}
@keyframes scrollText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.blinking-text {
  font-size: 18px;
  text-align: center;
  animation: blinkText 3s infinite;
  
  padding: 10px;
  
}

@keyframes blinkText {
  0%, 100% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
}












